
<%- include('../partials/head') %>
<body>
  <%- include('../partials/navbar') %>

  <div class="mt-8 p-8 flex flex-col items-center justify-center text-center">
    <h2 class="text-4xl font-bold text-gray-800 mb-4">Welcome to Airbnb Home.</h2>
    <p class="text-gray-600 text-lg">Find your perfect stay and book amazing homes around the world.</p>
  </div>
    <main class="p-8">
  <h3 class="text-2xl font-semibold mb-4">Registered Homes:</h3>

  <% if (registeredHomes && registeredHomes.length > 0) { %>
    
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% registeredHomes.forEach(home => { %>
        <li class="bg-white shadow-md rounded-lg p-4 border">
          <div class="flex justify-between items-start mb-2">
        <h4 class="text-xl font-bold text-red-600">
          <%= home.houseName %>
        </h4>

        <div>
          <form action="/store/favourites" method="POST">
            <button class="text-2xl hover:scale-110 transition favorite-btn" ><%= favouriteHomes.includes(home._id.toString()) ? '❤️' : '🤍' %></button>
            <input type="hidden" name="id" value="<%= home._id %>">
          </form>
        </div>
          </div>
          <p class="text-gray-600">
        Location: <%= home.location %>
          </p>
          <p class="text-gray-600">
        Rent: ₹ <%= home.rent %>
          </p>
          <img src="/uploads/<%= home.image %>" 
        class="mt-2 w-64 h-40 object-cover rounded shadow-lg border border-gray-300" />
        <p class="text-yellow-600">
        Rating:  ★<%= home.rating %>/5
          </p>

        <a href="/store/home/<%= home._id %>" class="mt-2 inline-block bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded transition">Details</a>

        <% if( user && user?.userType==="guest"){%>
          <% if(!bookedHomes.includes(home._id.toString())) {%>
            <div><form action="/store/bookings" method="POST">
              <button type="submit" class="mt-4 bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded transition">Book Now</button>
              <input type="hidden" name="id" value="<%= home._id %>">

            </form>
              </div>
              <% } else { %>
            <div>

            <button type="button" class="mt-4 bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded transition cursor-not-allowed">Already Booked</button>
            </div>

          <% } %>
        <% } %>
        
        </li>
      <% }) %>
        </ul>

    <script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".favorite-btn").forEach(btn => {
      btn.addEventListener("click", function () {
        this.textContent = this.textContent.trim() === "🤍" ? "❤️" : "🤍";
      });
    });
  });
</script>

  <% } else { %>

    <p class="text-gray-500">No homes registered yet.</p>

  <% } %>
</main>

  
</body>

</html>